<%# etapa 4 cerinta 5 - pagina principala %>
<%- include('../fragmente/head') %>
<%- include('../fragmente/header') %>

    <main class="layout-grid">
        <section id="zone1" class="zone zone1">
            <hgroup>
                <h2>New Collections</h2>
                <h3>Discover our latest meme apparel and pop culture hoodies</h3>
            </hgroup>
            <figure>
                <picture>
                    <source media="(max-width: 600px)" srcset="/resources/img/banner-small.png">
                    <source media="(max-width: 1200px)" srcset="/resources/img/banner-medium.png">
                    <img src="/resources/img/banner-big.png" alt="Featured collections banner" title="Autumn Collection - Funny t-shirts and hoodies">
                </picture>
                <figcaption>Our Autumn Collection</figcaption>
            </figure>
            <article>
                <h3>Pop Culture T-Shirts</h3>
                <p>Discover our most <em>hilarious</em> designs inspired by:</p>
                <ul>
                    <li>Classic movies</li>
                    <li>TV shows</li>
                    <li>Internet memes</li>
                </ul>
            </article>
            <figure>
                <img src="/resources/img/banner-big.png" alt="Collections" usemap="#bannerMap">
                <map name="bannerMap">
                    <area shape="rect" coords="0,0,800,1000" href="#tshirts" alt="T-Shirts Section">
                    <area shape="rect" coords="801,0,1600,1000" href="#hoodies" alt="Hoodies Section">
                </map>
                <figcaption>Click different collection areas</figcaption>
            </figure>
        </section>

        <section id="zone3" class="zone zone3">
            <h2>Calendar</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </section>

        <section id="zone2" class="zone zone2">
            <div class="table-scroll-container">
            <table class="styled-table">
                <caption>Top vandute produse - funny t-shirts si hoodies</caption>
                <thead>
                    <tr>
                        <th>Produs</th>
                        <th>Categorie</th>
                        <th>Vandute</th>
                        <th>Pret (RON)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Meme Classic</td>
                        <td>Meme apparel</td>
                        <td>156</td>
                        <td>79</td>
                    </tr>
                    <tr>
                        <td>Pop Culture Hero</td>
                        <td rowspan="2">Pop culture clothing</td>
                        <td>134</td>
                        <td>89</td>
                    </tr>
                    <tr>
                        <td>TV Show Quote</td>
                        <td>98</td>
                        <td>79</td>
                    </tr>
                    <tr>
                        <td>Hoodie Premium</td>
                        <td>Hoodies</td>
                        <td>87</td>
                        <td>129</td>
                    </tr>
                    <tr>
                        <td>Funny Cats</td>
                        <td>Meme apparel</td>
                        <td>76</td>
                        <td>69</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Total unitati</td>
                        <td>551</td>
                    </tr>
                </tfoot>
            </table>
            </div>
        </section>

        <section id="zone4" class="zone zone4">
            <h2>Anunturi</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam.</p>
        </section>

        <section id="zone8" class="zone zone8">
            <h2>Evenimente & Oferte</h2>
            <section id="evenimente">
                <h3>Upcoming Events</h3>
                <ol>
                    <li><time datetime="2026-03-30T12:00">30 martie, ora 12:00</time> - <b>Launch Pop Culture Hoodies</b> - Lansam colectia noua de hoodies inspirata din filme si seriale. Reducere 15% in prima zi.</li>
                    <li><time datetime="2026-04-15T14:00">15 aprilie, ora 14:00</time> - <b>Meme T-Shirts Flash Sale</b> - Doar 3 ore de reduceri pana la 30% pe toate tricourile cu meme-uri.</li>
                    <li><time datetime="2026-04-20T10:00">20 aprilie, ora 10:00</time> - <b>April Fools Collection</b> - Designuri speciale limitate. Oferim cadou un poster la comenzi peste 50 RON.</li>
                </ol>
            </section>
            <div id="deals">
                <details>
                    <summary>Deal of the Day</summary>
                    <p><strong>WARNING:</strong> Offer valid today only! <s>$24.99</s> <ins>$19.99</ins></p>
                </details>
                <details>
                    <summary><i class="fa-solid fa-truck fa-bounce fa-fw"></i> Free Shipping</summary>
                    <p>Comanda gratuita la achizitii peste 150 RON pentru funny t-shirts si hoodies.</p>
                </details>
            </div>
            <blockquote>
                <p><q>The best store for funny t-shirts!</q> - <cite>Satisfied Customer</cite></p>
            </blockquote>
            <div class="formula">
                <math xmlns="http://www.w3.org/1998/Math/MathML">
                    <mrow>
                        <mi>H</mi>
                        <mo>=</mo>
                        <mfrac>
                            <mrow><mi>L</mi><mo>+</mo><mi>D</mi></mrow>
                            <mi>T</mi>
                        </mfrac>
                    </mrow>
                </math>
                <p>Where H = Humor Factor, L = Laughs, D = Design Quality, T = Time</p>
            </div>
            <div>
                <a href="https://www.google.com" target="_blank" rel="noopener">Design Inspiration</a>
                <a href="https://www.w3.org/TR/html52/document-metadata#the-link-element">https://www.w3.org/TR/html52/document<wbr>-metadata#the-link-element</a>
                <a href="/resources/img/banner-big.png"><img src="/resources/img/banner-small.png" alt="Vezi banner mare" width="120" height="80" title="Click pentru imagine marita"></a>
                <a href="/resources/catalog.pdf" download="catalog_onlymerch.pdf">Download Catalog</a>
            </div>
            <div class="video-tabs-container">
                <nav class="video-tabs">
                    <a href="https://www.youtube.com/embed/B-ytMSuwbf8?si=vSPWOQPdV0OP1C7G" target="videoFrame" class="tab-active">Video 1</a>
                    <a href="https://www.youtube.com/embed/qyomWr_C_jA?si=S9hqlJ4GBaOIP60W" target="videoFrame">Video 2</a>
                    <a href="https://www.youtube.com/embed/dQw4w9WgXcQ?si=x_KoLSlT-yKxoB29" target="videoFrame">Video 3</a>
                </nav>
                <div class="iframe-tab-content">
                    <div class="iframe-16-9">
                        <iframe name="videoFrame" src="https://www.youtube.com/embed/B-ytMSuwbf8?si=vSPWOQPdV0OP1C7G"></iframe>
                    </div>
                </div>
            </div>
            <section id="collections">
                <h3>Product Catalog</h3>
                <div class="catalog-preview-9-16">
                    <object data="/resources/catalog.pdf" type="application/pdf">
                        <p>Unable to display PDF. <a href="/resources/catalog.pdf">Download instead</a></p>
                    </object>
                </div>
            </section>
            <p><abbr title="Search Engine Optimization">SEO</abbr> optimized for relevant keywords</p>
            <p>Stoc hoodies: <meter value="2" min="0" max="100" low="10" high="80" optimum="50">2/100</meter></p>
            <p>Rating clienti: <meter value="92" min="0" max="100" low="30" high="70" optimum="90">92/100</meter></p>
        </section>

        <section id="zone7" class="zone zone7">
            <h2>Date site</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aute irure dolor in reprehenderit.</p>
        </section>

        <section id="zone5" class="zone zone5">
            <h2>Online</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </section>

        <%# etapa 4 cerinta 17 - IP utilizator in zona date utilizator %>
        <section id="zone6" class="zone zone6">
            <h2>Statistici</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod.</p>
            <p><strong>Adresa ta (IP):</strong> <span class="client-ip"><%= clientIp %></span></p>
        </section>
    </main>

<%- include('../fragmente/footer') %>
