    <!-- etapa 4 cerinta 5 - fragment footer -->
    <footer>
        <address>
            <a href="tel:+40737405577">+40737 40 55 77</a><br>
            <a href="https://maps.app.goo.gl/PdiJG1KeRmcSJbsT9" target="_blank">University Street 1</a><br>
            <a href="mailto:alex.pricop203@gmail.com">contact@onlymerch.ro</a><br>
            <a href="whatsapp://send?phone=+40737405577">Chat on WhatsApp</a>
        </address>

        <p class="footer-school-banner">Acesta este un proiect școlar!</p>

        <div class="map-container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d712.2210749543317!2d26.09894296967583!3d44.43553549819225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFaculty%20of%20Mathematics%20and%20Computer%20Science!5e0!3m2!1sen!2sro!4v1741653141701!5m2!1sen!2sro"
                width="400"
                height="300"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>

        <small>
            &copy; <time datetime="2026-03-22">22 martie 2026</time> OnlyMerch
        </small>
    </footer>

    <a href="#" class="link-top" title="Du-te la inceputul paginii" aria-label="Inapoi sus">
        <span class="link-top-brackets">
            <span class="link-top-triangle"></span>
        </span>
        <span class="link-top-tooltip">Du-te la inceputul paginii</span>
    </a>
</body>
</html>
