<!DOCTYPE html>
<html lang="en">
<head>
    <!-- etapa 4 cerinta 5 - fragment head comun -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="OnlyMerch Team">
    <meta name="keywords" content="funny t-shirts, hoodies, meme apparel, pop culture clothing">
    <meta name="description" content="Online store for funny t-shirts and hoodies with unique designs">
    <meta name="msapplication-TileColor" content="#ff00ff">
    <title><%= typeof titluPagina !== 'undefined' ? titluPagina : 'OnlyMerch' %></title>

    <link rel="icon" type="image/png" href="/resources/ico/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="/resources/ico/favicon.svg">
    <link rel="shortcut icon" href="/resources/ico/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/ico/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-title" content="OnlyMerch">
    <link rel="manifest" href="/resources/ico/site.webmanifest">

    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
