<body>
    <!-- etapa 4 cerinta 5 - fragment header -->
    <div class="print-watermark">Pricop Alexandru</div>

    <header>
        <p class="print-school-banner">Acesta este un proiect școlar!</p>
        <h1><i class="fa-solid fa-shirt fa-fw"></i> OnlyMerch</h1>

        <nav class="site-nav" aria-label="Meniu principal">
            <input type="checkbox" id="nav-toggle" class="nav-toggle" />
            <label for="nav-toggle" class="nav-burger" aria-label="Deschide meniu">
                <span class="nav-burger-lines" aria-hidden="true"></span>
            </label>

            <ul class="nav-menu">
                <li class="nav-item has-submenu home">
                    <a class="nav-link" href="/">
                        <i class="fa-solid fa-house" aria-hidden="true"></i>
                        <span class="nav-text">Acasa</span>
                    </a>
                    <ul class="nav-submenu">
                        <li><a href="/#zone1"><i class="fa-solid fa-image" aria-hidden="true"></i><span>Banner</span></a></li>
                        <li><a href="/#zone2"><i class="fa-solid fa-table" aria-hidden="true"></i><span>Tabel</span></a></li>
                        <li><a href="/#zone3"><i class="fa-solid fa-calendar-days" aria-hidden="true"></i><span>Calendar</span></a></li>
                        <li><a href="/#zone4"><i class="fa-solid fa-bullhorn" aria-hidden="true"></i><span>Anunturi</span></a></li>
                        <li><a href="/#zone5"><i class="fa-solid fa-users" aria-hidden="true"></i><span>Online</span></a></li>
                        <li><a href="/#zone6"><i class="fa-solid fa-chart-simple" aria-hidden="true"></i><span>Statistici</span></a></li>
                        <li><a href="/#zone7"><i class="fa-solid fa-server" aria-hidden="true"></i><span>Date site</span></a></li>
                        <li><a href="/#zone8"><i class="fa-solid fa-layer-group" aria-hidden="true"></i><span>Diverse</span></a></li>
                    </ul>
                </li>

                <li class="nav-item has-submenu">
                    <a class="nav-link" href="#">
                        <i class="fa-solid fa-grip" aria-hidden="true"></i>
                        <span class="nav-text">Pagini</span>
                    </a>
                    <ul class="nav-submenu">
                        <li><a href="/despre"><i class="fa-solid fa-circle-info" aria-hidden="true"></i><span>Despre site</span></a></li>
                        <li><a href="/newsletter"><i class="fa-solid fa-envelope" aria-hidden="true"></i><span>Newsletter</span></a></li>
                        <li><a href="/contact"><i class="fa-solid fa-address-card" aria-hidden="true"></i><span>Contact</span></a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
